* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 100%;
  font-family: "Mulish", sans-serif;
}

main {
  margin-left: 3rem;
  margin-top: 2%;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 6%;
  height: 95%;
  background: #0c0b0b;
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  overflow: hidden;
}

.init {
  color: #f1d5bb;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 64px;
}

.lnr {
  fill: currentColor;
  color: white;
  height: 40px;
  padding: 25px;
}

.active .lnr {
  background-color: #f1d5bb;
  fill: currentColor;
  color: black;
  width: fit-content;
}
a :hover {
  background-color: #f1d5bb;
  fill: currentColor;
  color: black;
}

.menu {
  margin-left: 8rem;
  width: 90%;
}

h2 {
  font-weight: 400;
  font-size: 40px;
}

hr {
  width: 300px;
  height: 4px;
  border: none;
  background-color: #f1d5bb;
  margin-bottom: 2rem;
}

.top_list,
.bottom_list {
  display: flex;
}

img {
  width: 224px;
  height: 275px;
  object-fit: cover;
}

figure {
  margin-right: 4rem;
}

figcaption {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

button {
  background-color: #0c0b0b;
  color: white;
  text-align: center;
  width: 194px;
  height: 54px;
  margin-left: 28rem;
  margin-top: 2rem;
}

/* CSS for cart.html */

.left {
  width: 608px;
  height: 530px;
  background: #f1d5bb;
  border-radius: 3px;
}

.right {
  height: 530px;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.heads {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 30px;
}

.order {
  width: 443px;
  height: 286px;
  background: #f1d5bb;
  border-radius: 3px;
}

.promo {
  width: 443px;
  height: 326px;
  background: #ffffff;
  border: 1px solid #f1d5bb;
  border-radius: 3px;
}

input {
  height: 70px;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  margin-top: 2rem;
  border: 1px solid #f1d5bb;
  color: rgba(0, 0, 0, 0.6);
}

.counter {
  display: flex;
  padding: 10px;
  align-self: center;
  margin-left: 3rem;
  left: 660px;
  cursor: pointer;
}

.number {
  background-color: white;
  width: 40px;
  height: 35px;
  text-align: center;
  align-content: center;
  margin-top: 0;
  font-size: 20px;
  cursor: text;
}

.circle {
  width: 90px;
  height: 90px;
  background-image: url(./Assets/ewa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.circle_two {
  width: 90px;
  height: 90px;
  background-image: url(./Assets/jollof.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.circle_three {
  width: 90px;
  height: 90px;
  background-image: url(./Assets/suya.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.circle_four {
  width: 90px;
  height: 90px;
  background-image: url(./Assets/oha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.food_name {
  align-self: center;
  margin-left: 2rem;
  padding: 10px;
  width: 23%;
}

.counter_container {
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
}

.remove {
  align-self: center;
  margin-left: 5rem;
}

#remove {
  padding: 0;
  width: 20px;
  color: black;
}

.count_btn {
  width: 12px;
  height: 25px;
  font-weight: 400;
  font-size: 25px;
}

@media (min-width: 800px) {
  .sidemenu,
  .nav_menu {
    display: none;
  }
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
  html,
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  main {
    margin-left: 0;
    width: 100%;
    overflow: hidden;
    margin-left: 2rem;
  }
  .menu {
    margin-left: 0;
    width: 80%;
  }
  h2,
  hr {
    width: 200px;
  }
  .top_list,
  .bottom_list {
    flex-direction: column;
    width: 224px;
    margin: auto;
  }
  figure {
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    width: fit-content;
  }
  .sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: black;
    overflow: hidden;
    padding-top: 3rem;
    transition: 0.5s;
  }
  .sidemenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidemenu a:hover {
    background-color: #f1d5bb;
    color: black;
  }
  .sidemenu .closebtn {
    position: absolute;
    top: 0;
    float: right;
    padding: 0;
  }
  .lnr-cross {
    padding: 0;
    font-size: 15px;
  }
  .load {
    margin-left: 20%;
    margin-bottom: 2rem;
  }
  .nav_menu {
    padding: 0;
  }
  .mobile {
    flex-direction: column;
  }
  .right {
    margin-left: 0;
    margin-top: 2rem;
  }
  .circle,
  .circle_two,
  .circle_four,
  .circle_three {
    display: none;
  }
  .food_name {
    width: 15%;
  }
  .food_name {
    margin-left: 0;
  }
  .counter {
    margin-left: 1rem;
  }
  .remove {
    margin-left: 2rem;
  }
}

.lnr-menu {
  color: black;
  float: right;
  width: auto;
  padding: 0;
  margin-bottom: 2rem;
  text-align: right;
}
